@model VehicleRegistrationWebApp.Models.VehicleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Vehicle Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Vehicle" asp-action="AddVehicleDetails" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehicleId" />

            <div class="form-group">
                <label asp-for="VehicleNumber" class="control-label"></label>
                <input asp-for="VehicleNumber" class="form-control" />
                <span asp-validation-for="VehicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleOwnerName" class="control-label"></label>
                <input asp-for="VehicleOwnerName" class="form-control" />
                <span asp-validation-for="VehicleOwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerAddress" class="control-label"></label>
                <input asp-for="OwnerAddress" class="form-control" />
                <span asp-validation-for="OwnerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerContactNumber" class="control-label"></label>
                <input asp-for="OwnerContactNumber" class="form-control" />
                <span asp-validation-for="OwnerContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VehicleClass" class="form-label"></label>
                <select asp-for="VehicleClass" class="form-select">
                    <option value="">Select Vehicle Class</option>
                    <option value="SUV">SUV</option>
                    <option value="HandBook">Handbook</option>
                </select>
                <span asp-validation-for="VehicleClass" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FuelType" class="form-label"></label>
                <select asp-for="FuelType" class="form-select">
                    <option value="">Select Fuel Type</option>
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Gasoline">Gasoline (CNG)</option>
                </select>
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetVehiclesDetails">Back To vehicle Details </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
